@import './variables.scss';
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
html {
  font-family: $font-family;
  font-size: $base-font-size;
}

.v-content {
  background-color: $color-white;
}
.v-application .text-center {
  text-align: center !important;
  font-family: Montserrat;
}
.container {
  max-width: none !important;
}
