$color-primary: #34c0be;
$color-secondary: #5d409f;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #6e6e6e;
$color-lightgray: #dadada;
$btn-padding: 14px;
$color-bright-red: #e97d7d;
$font-family: 'Montserrat';
$base-font-size: 14px;
$font-size-small: ($base-font-size - 2px);
